<section id="sidebar" class="sidebar right">
  <a href="/posts/new" id= "new_post_link" class="button_anchor">Share Your Thoughts</a>
</section>

<section id="posts" class="left content">
  <% @posts.each do |post| %>
    <%= erb :'posts/_post', { layout: false, locals: {:post => post }} %>
  <% end %>
</section>

<!-- 1. Put form on this page already, and put a class on it to hide it.
2. In your on click handler on the 'share your thoughts' link, toggle the class to show the form -->
